.titulo {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
.global {
    width: 207vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
