.titulo {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
.global {
    width: 206vh;
}
.imagen{ 
  width: 320px;
  background-size: cover;
  margin-left: 50px;
  
}

@media screen and (max-width: 800px) {
  .global {
    width: 95%;
    padding: 50px 0;
  }
  .global h1 {
    margin-left: 18px;
  }
  .imagen {
    width: 280px;
  }
}
